@font-face {
  font-family: "Levvic Bold";
  src: url("../fonts/Livvic-Bold.ttf");
}

@font-face {
  font-family: "Levvic SemiBold";
  src: url("../fonts/Livvic-SemiBold.ttf");
}

@font-face {
  font-family: "Levvic Regular";
  src: url("../fonts/Livvic-Regular.ttf");
}

html,
body {
  min-height: 100vh;
  font-size: 18px;
  font-family: "Levvic SemiBold";
  line-height: 28px;
}

p,
.text-normal,
button {
  font-size: 18px;
  font-family: "Levvic SemiBold";
  line-height: 28px;
}

.text-small {
  font-size: 15px;
  line-height: 25px;
}

.text-smallest {
  font-size: 10px;
  line-height: 13px;
  font-style: italic;
}

.h1-large,
.h1-small,
.h2,
.h3 {
  font-family: "Levvic Bold";
  font-weight: 700;
}

.h1-large {
  font-size: 100px;
  line-height: 100px;
}
.h1-small {
  font-size: 64px;
  line-height: 56px;
}

.h2 {
  font-size: 48px;
  line-height: 48px;
}

.h3 {
  font-size: 18px;
  line-height: 28px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sr-only {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -9999px;
}
